/bin
/venv
/certifi
/certifi-2021.10.8.dist-info
/charset_normalizer
/charset_normalizer-2.0.12.dist-info
/future
/future-0.18.2-py3.9.egg-info
/idna
/idna-3.3.dist-info
/libfuturize
/libpasteurize
/oauthlib
/oauthlib-3.2.0.dist-info
/past
/python_twitter-3.5.dist-info
/requests
/requests-2.27.1.dist-info
/requests_oauthlib
/requests_oauthlib-1.3.1.dist-info
/twitter
/urllib3
/urllib3-1.26.9.dist-info
/venv


